.dropdown-content li > a, .dropdown-content li > span {
    color: #6e45e2;
}

.card .card-description {
    color: #000000 !important;
}

.card .card-title {
    color: #57a29d !important;
}

.header-text {
    background: -moz-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
    background: -webkit-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
    background: -ms-linear-gradient(150deg, rgb(136, 211, 206) 0%, rgb(110, 69, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: #f5f5f6 !important;
}

footer {
    background-color: #a473ff !important;
}

.text-content {
    background-color: #f5f5f6;
}

.primary {
    background-color: #6e45e2 !important;
}

    .primary.light {
        background-color: #a473ff !important;
    }

    .primary.dark {
        background-color: #3217af !important;
    }

.primary-text {
    color: #6e45e2 !important;
}

    .primary-text.light {
        color: #a473ff !important;
    }

    .primary-text.dark {
        color: #3217af !important;
    }

.secondary {
    background-color: #88d3ce !important;
}

    .secondary.light {
        background-color: #baffff !important;
    }

    .secondary.dark {
        background-color: #57a29d !important;
    }

.secondary-text {
    color: #88d3ce !important;
}

    .secondary-text.light {
        color: #baffff !important;
    }

    .secondary-text.dark {
        color: #57a29d !important;
    }
