.dropdown-content li > a, .dropdown-content li > span {
    color: #2196f3;
}

.primary {
    background-color: #2196f3 !important;
}

    .primary.light {
        background-color: #a3c5ff !important;
    }

    .primary.dark {
        background-color: #3468c2 !important;
    }

.secondary {
    background-color: #f3a76e !important;
}

    .secondary.light {
        background-color: #ffd99d !important;
    }

    .secondary.dark {
        background-color: #bd7841 !important;
    }

.primary-text {
    color: #2196f3 !important;
}

    .primary-text.light {
        color: #a3c5ff !important;
    }

    .primary-text.dark {
        color: #3468c2 !important;
    }

.secondary-text {
    color: #f3a76e !important;
}

    .secondary-text.light {
        color: #ffd99d !important;
    }

    .secondary-text.dark {
        color: #bd7841 !important;
    }
