body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.brand-logo {
    margin-left: 15px;
}

nav {
    z-index: 997;
}

img.brand-logo {
    height: 64px;
    display: inline-block;
    vertical-align: middle;
    margin: 24px;
}

.services-fab {
    position: fixed;
    right: 23px;
    top: 87px;
    z-index: 997;
}

.cardlink-container {
    -ms-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cardlink {
    cursor: pointer;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

    .cardlink:hover {
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -ms-transform: rotateX(5deg) translateZ(30px);
        -webkit-transform: rotateX(5deg) translateZ(30px);
        transform: rotateX(5deg) translateZ(30px);
    }

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
